This notebook is used to repair data to remove the effect of sensitive attributes using quantiles to retrieve new(generated) data.

In [1]:
# !pip install numpy
# !pip install tensorflow

In [2]:
import numpy as np
import random
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.layers import Activation
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD
from tensorflow.keras import backend as K
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense, BatchNormalization, Dropout
from tensorflow.keras import optimizers
from sklearn.metrics import precision_score,recall_score, accuracy_score,confusion_matrix,f1_score
from tensorflow import feature_column
from tensorflow.keras import layers
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import History

import pandas as pd

C:\Users\riash\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\riash\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\riash\anaconda3\lib\site-packages\numpy\.libs\libopenblas.xwydx2ikjw2nmtwsfyngfuwkqu3lytcz.gfortran-win_amd64.dll
C:\Users\riash\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats 

count, bins_count = np.histogram(fnlwgt_female, bins=1000000)
pdf = count / sum(count)
cdf = np.cumsum(pdf)
plt.plot(bins_count[1:], cdf, label="CDF")
plt.legend()
plt.show()

count, bins_count = np.histogram(fnlwgt_male, bins=1000000)
pdf = count / sum(count)
cdf = np.cumsum(pdf)
plt.plot(bins_count[1:], cdf, label="CDF")
plt.legend()

plt.show()



fnlwgts = [fnlwgt_female, fnlwgt_male]

for i in fnlwgts:
    #  gamma
    shape, loc, scale = stats.gamma.fit(i)
    cdf = stats.gamma.cdf(i, shape, loc=loc, scale=scale)

    # mean, std = stats.norm.fit(i)
    # cdf =  stats.norm.cdf(i, mean, std)

    # beta_params = stats.beta.fit(i)
    # cdf = stats.beta.cdf(i, beta_params[0], beta_params[1], beta_params[2], beta_params[3])

    # pdfs.append(pdf)
    sns.set_style("whitegrid")

    ax = sns.displot( x = i, kind = "kde", height=10, aspect=2,
                linewidth = 5 )
    plt.ylabel("fnglwt")
    #     plt.xlabel("Loss")
    plt.xlabel("cdf")

    plt.show()



sns.kdeplot(fnlwgt_female,  color = "blue",label = "female")
sns.kdeplot(fnlwgt_male, color = "red",label = "male")
# plt.xticks([0, 200000,400000,800000,1000000,1200000, 1400000, 1600000])
plt.xlabel('fnglwt')

sns.kdeplot(fnlwgt_female, cumulative = True, color = "blue",label = "female")
sns.kdeplot(fnlwgt_male, cumulative = True,color = "red",label = "male")
# plt.xticks([0, 200000,400000,800000,1000000,1200000, 1400000, 1600000])
plt.xlabel('fnglwt')

sns.histplot(fnlwgt_female,color="red",  label = "female")
sns.histplot(fnlwgt_male,  label = "male")
plt.xlabel('fnglwt')

sns.histplot(fnlwgt_female,cumulative = True,color="red",  label = "female")
sns.histplot(fnlwgt_male,  cumulative = True, label = "male")
plt.xlabel('fnglwt')

print(fnlwgts [0])
print(fnlwgts [1])

count, bins_count = np.histogram(fnlwgts [0], bins=10) 
count2, bins_count2 = np.histogram(fnlwgts [1], bins=10) 

  
# finding the PDF of the histogram using count values 
pdf = count / sum(count) 
pdf2 = count2 / sum(count2) 

  
# using numpy np.cumsum to calculate the CDF 
# We can also find using the PDF values by looping and adding 
cdf = np.cumsum(pdf) 
cdf2 = np.cumsum(pdf2) 

# figure, axis = plt.subplots(1, 2) 
  
# axis[0].plot(bins_count[1:], cdf, label="CDF") 
# axis[0].set_title("female") 
# axis[ 1].plot(bins_count[1:], cdf2, label="CDF")
# axis[ 1].set_title("male") 
# plt.show()
  
# plotting PDF and CDF 
plt.plot(bins_count[1:], cdf, color="red", label="female cdf") 
plt.plot(bins_count[1:], cdf2, label="male cdf") 
plt.legend()

# common cdf graph
from scipy.interpolate import pchip_interpolate

import numpy as np

x = np.array(quantiles)
# x = np.sort(x)
print(x)
y = np.array([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0])

x_observed = x
y_observed = y
x = np.linspace(min(x_observed), max(x_observed), num=100)
y = pchip_interpolate(x_observed, y_observed, x)
y_d = pchip_interpolate(x_observed, y_observed, x, der=1)

fig, ax = plt.subplots(1,2, figsize=(12,6))
ax[0].plot(x_observed, y_observed, "o", label="observation")
ax[0].plot(x, y, label="pchip interpolation")
# ax[1].plot(x, y_d, label="pchip interpolation derivative")
fig.legend()
plt.show()

# Data Repairing starts here

In [ ]:

file_out = pd.read_csv('Data/adult_processed.csv')
cols = []
for i in list(file_out.columns):
    if  i != 'income':
        cols.append(i)

feature_set1 = pd.read_csv('Data/train.csv')
feature_set2 = pd.read_csv('Data/test.csv')

print(feature_set1['fnlwgt'])
x = feature_set1[cols].copy().values
y = feature_set1[['income']].copy().values
        
sc = StandardScaler()
X_train = sc.fit_transform(x)
y_train = y

x2 = feature_set2[cols].copy().values
y2 = feature_set2[['income']].copy().values
        
X_test = sc.transform(x2)
y_test = y2


X_test.shape, y_test.shape

# Gender

In [ ]:

female_features =  feature_set1[feature_set1['gender_Female']==1]
x_female = female_features[cols].copy().values
y_female = female_features[['income']].copy().values

X_train_female = sc.fit_transform(x_female)
y_train_female = y_female

male_features = feature_set1[feature_set1['gender_Male']==1] 
x_male = male_features[cols].copy().values
y_male = male_features[['income']].copy().values

X_train_male = sc.fit_transform(x_male)
y_train_male = y_male



# checks
X_train.shape, X_train_female.shape, X_train_male.shape

In [ ]:
fnlwgt_female = female_features['fnlwgt'].copy().values
print(fnlwgt_female)

fnlwgt_male = male_features['fnlwgt'].copy().values
print(fnlwgt_male)

In [61]:
# fq1 = np.quantile(fnlwgt_female, .25)
# mq1 = np.quantile(fnlwgt_male, .25)
# fq2 = np.quantile(fnlwgt_female, .50)
# mq2 = np.quantile(fnlwgt_male, .50)
# fq3 = np.quantile(fnlwgt_female, .75)
# mq3 = np.quantile(fnlwgt_male, .75)
# fq4 = np.quantile(fnlwgt_female, 1)
# mq4 = np.quantile(fnlwgt_male, 1)

fq1 = np.quantile(fnlwgt_female, .1)
mq1 = np.quantile(fnlwgt_male, .1)
fq2 = np.quantile(fnlwgt_female, .2)
mq2 = np.quantile(fnlwgt_male, .2)
fq3 = np.quantile(fnlwgt_female, .3)
mq3 = np.quantile(fnlwgt_male, .3)
fq4 = np.quantile(fnlwgt_female, .4)
mq4 = np.quantile(fnlwgt_male, .4)
fq5 = np.quantile(fnlwgt_female, .5)
mq5 = np.quantile(fnlwgt_male, .5)
fq6 = np.quantile(fnlwgt_female, .6)
mq6 = np.quantile(fnlwgt_male, .6)
fq7 = np.quantile(fnlwgt_female, .7)
mq7 = np.quantile(fnlwgt_male, .7)
fq8 = np.quantile(fnlwgt_female, .8)
mq8 = np.quantile(fnlwgt_male, .8)
fq9 = np.quantile(fnlwgt_female, .9)
mq9 = np.quantile(fnlwgt_male, .9)
fq10 = np.quantile(fnlwgt_female, 1)
mq10 = np.quantile(fnlwgt_male, 1)


# print(fq1, mq1)
# print(fq2, mq2)
# print(fq3, mq3)
# print(fq4, mq4)

q1 = (fq1 + mq1)/2
q2 = (fq2 + mq2)/2
q3 = (fq3 + mq3)/2
q4 = (fq4 + mq4)/2
q5 = (fq5 + mq5)/2
q6 = (fq6 + mq6)/2
q7 = (fq7 + mq7)/2
q8 = (fq8 + mq8)/2
q9 = (fq9 + mq9)/2
q10 = (fq10 + mq10)/2

female_quantiles = [fq1, fq2,fq3, fq4, fq5, fq6, fq7, fq8, fq9, fq10]
male_quantiles = [mq1, mq2, mq3, mq4, mq5, mq6, mq7, mq8, mq9, mq10]
quantiles = [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]
print("total: ",quantiles, "\n")
print("female: ",female_quantiles, "\n")
print("male: ", male_quantiles, "\n")

total:  [65656.1, 105379.8, 130053.0, 157186.0, 177914.5, 195511.5, 218882.7, 257997.00000000003, 324782.05000000005, 1470070.0]

female:  [66264.00000000001, 104382.6, 128538.0, 155093.0, 175878.0, 192812.0, 213408.0, 251521.0, 318057.0, 1484705]

male:  [65048.200000000004, 106377.0, 131568.0, 159279.00000000003, 179951.0, 198211.0, 224357.4, 264473.00000000006, 331507.10000000003, 1455435]

In [62]:
# female_features["fnlwgt"] = np.where(female_features["fnlwgt"]<= fq1, q1,female_features["fnlwgt"] )
female_features =  feature_set1[feature_set1['gender_Female']==1]
final_female  = pd.DataFrame()
for i in range(10): 
    female_fts = female_features[female_features["fnlwgt"]<= female_quantiles[i]]
    female_fts["fnlwgt"] = quantiles[i]
    
    female_features = female_features.drop(female_fts.index)
    final_female = pd.concat([final_female, female_fts])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\3184539871.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_fts["fnlwgt"] = quantiles[i]

In [63]:
# female_features

In [64]:
# final_female

In [65]:
male_features = feature_set1[feature_set1['gender_Male']==1] 
final_male  = pd.DataFrame()
for i in range(10): 
    male_fts = male_features[male_features["fnlwgt"]<= male_quantiles[i]]
    male_fts["fnlwgt"] = quantiles[i]
    
    male_features = male_features.drop(male_fts.index)
    final_male = pd.concat([final_male, male_fts])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\1457001410.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_fts["fnlwgt"] = quantiles[i]

In [66]:
# male_features

In [67]:
# final_male

In [68]:
  feature_set1

,Unnamed: 0,age,fnlwgt,education,educational-num,capital-gain,capital-loss,hours-per-week,income,marital-status_Divorced,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,38914,25,178960,1.0,7,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
1,5303,31,158672,1.0,7,0,0,38,0,0,...,0,1,0,0,0,0,0,0,0,0
2,37481,17,25051,0.0,6,0,0,16,0,0,...,0,0,0,0,0,0,0,1,0,0
3,33175,50,231196,9.0,13,0,0,50,0,1,...,0,0,0,0,0,0,0,1,0,0
4,30045,22,187052,11.0,9,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39068,43280,60,190682,8.0,11,0,0,37,0,0,...,0,0,0,0,0,0,0,1,0,0
39069,18495,64,177825,11.0,9,1055,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
39070,27726,49,192323,11.0,9,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
39071,25866,17,156736,0.0,6,0,0,12,0,0,...,0,0,0,0,0,0,0,1,0,0
39072,21093,69,164102,11.0,9,0,0,40,1,1,...,0,0,0,0,0,0,0,1,0,0

In [69]:
repaired_data = pd.DataFrame()
repaired_data = pd.concat([final_male, final_female])
repaired_data

# drop sensitive columns

,Unnamed: 0,age,fnlwgt,education,educational-num,capital-gain,capital-loss,hours-per-week,income,marital-status_Divorced,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
2,37481,17,65656.1,0.0,6,0,0,16,0,0,...,0,0,0,0,0,0,0,1,0,0
12,34990,54,65656.1,11.0,9,0,0,60,1,0,...,0,0,0,0,0,0,0,1,0,0
52,29876,29,65656.1,7.0,12,0,0,60,0,0,...,0,0,0,0,0,0,0,1,0,0
55,20307,20,65656.1,15.0,10,0,0,47,0,0,...,0,0,0,0,0,0,0,1,0,0
66,17586,37,65656.1,9.0,13,0,0,43,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38823,28093,33,1470070.0,9.0,13,0,0,45,0,0,...,0,0,0,0,0,0,0,1,0,0
38871,7556,22,1470070.0,15.0,10,0,0,30,0,0,...,0,0,0,0,0,0,0,1,0,0
38953,2219,28,1470070.0,9.0,13,0,1408,50,0,0,...,0,0,0,0,0,0,0,0,0,0
38963,3145,36,1470070.0,11.0,9,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
39052,43080,64,1470070.0,15.0,10,0,0,40,1,0,...,0,0,0,0,0,0,0,1,0,0

In [70]:
repaired_data = shuffle(repaired_data)
repaired_data

,Unnamed: 0,age,fnlwgt,education,educational-num,capital-gain,capital-loss,hours-per-week,income,marital-status_Divorced,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
15874,46819,36,218882.70,11.0,9,0,0,40,0,1,...,0,0,0,0,0,0,0,1,0,0
32446,28164,44,324782.05,5.0,4,0,0,48,0,1,...,0,0,0,0,0,0,0,1,0,0
26453,41355,38,257997.00,6.0,5,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
12278,35745,48,157186.00,12.0,14,0,0,55,1,0,...,0,0,0,0,0,0,0,1,0,0
32990,33951,27,177914.50,11.0,9,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27007,18853,34,257997.00,6.0,5,0,0,40,0,0,...,0,0,0,0,0,0,0,0,0,0
27306,29819,28,65656.10,0.0,6,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
26731,27205,20,65656.10,15.0,10,0,0,46,0,0,...,0,0,0,0,0,0,0,1,0,0
19592,20189,28,218882.70,9.0,13,0,0,40,0,0,...,0,0,0,0,0,0,0,1,0,0
16082,23164,57,257997.00,1.0,7,0,0,52,0,0,...,0,0,0,0,0,0,0,1,0,0

In [71]:
repaired_data['gender_Female'] = 0
repaired_data['gender_Male'] = 0

# Age

In [72]:
age_bar = 30

features_above_bar = repaired_data[repaired_data['age']>age_bar]
x_above_age = features_above_bar[cols].copy().values
y_above_age = features_above_bar[['income']].copy().values

X_train_above_age = sc.fit_transform(x_above_age)
y_train_above_age = y_above_age

features_below_bar = repaired_data[repaired_data['age']<=age_bar]
x_below_age = features_below_bar[cols].copy().values
y_below_age = features_below_bar[['income']].copy().values

X_train_below_age = sc.fit_transform(x_below_age)
y_train_below_age = y_below_age

# checks
X_train.shape, X_train_above_age.shape, X_train_below_age.shape

((39073, 94), (26367, 94), (12706, 94))

In [73]:
fnlwgt_above = features_above_bar['fnlwgt'].copy().values
print(fnlwgt_above)

fnlwgt_below = features_below_bar['fnlwgt'].copy().values
print(fnlwgt_below)

[218882.7  324782.05 257997.   ... 157186.   257997.   257997.  ]
[177914.5  324782.05  65656.1  ...  65656.1   65656.1  218882.7 ]

In [74]:
fq1 = np.quantile(fnlwgt_above, .1)
mq1 = np.quantile(fnlwgt_below, .1)
fq2 = np.quantile(fnlwgt_above, .2)
mq2 = np.quantile(fnlwgt_below, .2)
fq3 = np.quantile(fnlwgt_above, .3)
mq3 = np.quantile(fnlwgt_below, .3)
fq4 = np.quantile(fnlwgt_above, .4)
mq4 = np.quantile(fnlwgt_below, .4)
fq5 = np.quantile(fnlwgt_above, .5)
mq5 = np.quantile(fnlwgt_below, .5)
fq6 = np.quantile(fnlwgt_above, .6)
mq6 = np.quantile(fnlwgt_below, .6)
fq7 = np.quantile(fnlwgt_above, .7)
mq7 = np.quantile(fnlwgt_below, .7)
fq8 = np.quantile(fnlwgt_above, .8)
mq8 = np.quantile(fnlwgt_below, .8)
fq9 = np.quantile(fnlwgt_above, .9)
mq9 = np.quantile(fnlwgt_below, .9)
fq10 = np.quantile(fnlwgt_above, 1)
mq10 = np.quantile(fnlwgt_below, 1)

q1 = (fq1 + mq1)/2
q2 = (fq2 + mq2)/2
q3 = (fq3 + mq3)/2
q4 = (fq4 + mq4)/2
q5 = (fq5 + mq5)/2
q6 = (fq6 + mq6)/2
q7 = (fq7 + mq7)/2
q8 = (fq8 + mq8)/2
q9 = (fq9 + mq9)/2
q10 = (fq10 + mq10)/2

above_quantiles = [fq1, fq2,fq3, fq4, fq5, fq6, fq7, fq8, fq9, fq10]
below_quantiles = [mq1, mq2, mq3, mq4, mq5, mq6, mq7, mq8, mq9, mq10]
quantiles2 = [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]
print("total: ",quantiles2, "\n")
print("female: ",above_quantiles, "\n")
print("male: ", below_quantiles, "\n")

total:  [85517.95000000001, 117716.4, 143619.5, 167550.25, 186713.0, 207197.1, 238439.85000000003, 291389.525, 897426.025, 1470070.0]

female:  [65656.1, 105379.8, 130053.0, 157186.0, 177914.5, 195511.5, 218882.7, 257997.00000000003, 324782.05000000005, 1470070.0]

male:  [105379.8, 130053.0, 157186.0, 177914.5, 195511.5, 218882.7, 257997.00000000003, 324782.05000000005, 1470070.0, 1470070.0]

In [75]:
above_features =  repaired_data[repaired_data['age']>age_bar]
final_above  = pd.DataFrame()
for i in range(10): 
    above_fts = above_features[above_features["fnlwgt"]<= above_quantiles[i]]
    above_fts["fnlwgt"] = quantiles2[i]
    
    above_features = above_features.drop(above_fts.index)
#     print("\n")
#     print((above_features.shape), final_above.shape)
    final_above = pd.concat([final_above, above_fts])
#     print(above_fts["fnlwgt"], above_quantiles[i])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\3875210117.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  above_fts["fnlwgt"] = quantiles2[i]

In [76]:
below_features = repaired_data[repaired_data['age']<=age_bar]
final_below  = pd.DataFrame()
for i in range(10): 
    below_fts = below_features[below_features["fnlwgt"]<= below_quantiles[i]]
    below_fts["fnlwgt"] = quantiles2[i]
    below_features = below_features.drop(below_fts.index)
    final_below = pd.concat([final_below, below_fts])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\2896898300.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  below_fts["fnlwgt"] = quantiles2[i]

In [77]:
repaired_data = pd.concat([final_below, final_above])
repaired_data = shuffle(repaired_data)
repaired_data['age'] = 0

# Race (whites and non-whites)

In [78]:
features_white = repaired_data[repaired_data['race_White']==1]
x_white = features_white[cols].copy().values
y_white = features_white[['income']].copy().values

X_train_white = sc.fit_transform(x_white)
y_train_white = y_white

features_non_white = repaired_data[repaired_data['race_White']==0]
x_non_white = features_non_white[cols].copy().values
y_non_white = features_non_white[['income']].copy().values

X_train_non_white = sc.fit_transform(x_non_white)
y_train_non_white = y_non_white

# checks
X_train.shape, X_train_white.shape, X_train_non_white.shape

((39073, 94), (33446, 94), (5627, 94))

In [79]:
fnlwgt_white = features_white['fnlwgt'].copy().values
print(fnlwgt_white)

fnlwgt_non_white = features_non_white['fnlwgt'].copy().values
print(fnlwgt_non_white)

[238439.85  291389.525  85517.95  ...  85517.95  238439.85  207197.1  ]
[167550.25  897426.025 291389.525 ...  85517.95  186713.     85517.95 ]

In [80]:
fq1 = np.quantile(fnlwgt_white, .1)
mq1 = np.quantile(fnlwgt_non_white, .1)
fq2 = np.quantile(fnlwgt_white, .2)
mq2 = np.quantile(fnlwgt_non_white, .2)
fq3 = np.quantile(fnlwgt_white, .3)
mq3 = np.quantile(fnlwgt_non_white, .3)
fq4 = np.quantile(fnlwgt_white, .4)
mq4 = np.quantile(fnlwgt_non_white, .4)
fq5 = np.quantile(fnlwgt_white, .5)
mq5 = np.quantile(fnlwgt_non_white, .5)
fq6 = np.quantile(fnlwgt_white, .6)
mq6 = np.quantile(fnlwgt_non_white, .6)
fq7 = np.quantile(fnlwgt_white, .7)
mq7 = np.quantile(fnlwgt_non_white, .7)
fq8 = np.quantile(fnlwgt_white, .8)
mq8 = np.quantile(fnlwgt_non_white, .8)
fq9 = np.quantile(fnlwgt_white, .9)
mq9 = np.quantile(fnlwgt_non_white, .9)
fq10 = np.quantile(fnlwgt_white, 1)
mq10 = np.quantile(fnlwgt_non_white, 1)

q1 = (fq1 + mq1)/2
q2 = (fq2 + mq2)/2
q3 = (fq3 + mq3)/2
q4 = (fq4 + mq4)/2
q5 = (fq5 + mq5)/2
q6 = (fq6 + mq6)/2
q7 = (fq7 + mq7)/2
q8 = (fq8 + mq8)/2
q9 = (fq9 + mq9)/2
q10 = (fq10 + mq10)/2

white_quantiles = [fq1, fq2,fq3, fq4, fq5, fq6, fq7, fq8, fq9, fq10]
non_white_quantiles = [mq1, mq2, mq3, mq4, mq5, mq6, mq7, mq8, mq9, mq10]
quantiles3 = [q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]
print("total: ",quantiles3, "\n")
print("white: ",white_quantiles, "\n")
print("non white: ", non_white_quantiles, "\n")

total:  [85517.95000000001, 117716.4, 143619.5, 167550.25, 196955.05, 222818.47500000003, 264914.6875, 594407.775, 897426.025, 1470070.0]

white:  [85517.95000000001, 117716.4, 143619.5, 167550.25, 186713.0, 207197.1, 238439.85000000003, 291389.525, 897426.025, 1470070.0]

non white:  [85517.95000000001, 117716.4, 143619.5, 167550.25, 207197.1, 238439.85000000003, 291389.525, 897426.025, 897426.025, 1470070.0]

In [81]:
white_features =  repaired_data[repaired_data['race_White']==1]
final_white  = pd.DataFrame()
for i in range(10): 
    white_fts = white_features[white_features["fnlwgt"]<= white_quantiles[i]]
    white_fts["fnlwgt"] = quantiles2[i]
    
    white_features = white_features.drop(white_fts.index)
#     print("\n")
#     print((above_features.shape), final_above.shape)
    final_white = pd.concat([final_white, white_fts])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\1041614813.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  white_fts["fnlwgt"] = quantiles2[i]

In [82]:
non_white_features = repaired_data[repaired_data['race_White']==0] 
final_non_white  = pd.DataFrame()
for i in range(10): 
    non_white_fts = non_white_features[non_white_features["fnlwgt"]<= non_white_quantiles[i]]
    non_white_fts["fnlwgt"] = quantiles2[i]
    non_white_features = non_white_features.drop(non_white_fts.index)
    final_non_white = pd.concat([final_non_white, non_white_fts])

C:\Users\riash\AppData\Local\Temp\ipykernel_18236\1587552793.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_white_fts["fnlwgt"] = quantiles2[i]

In [83]:
repaired_data = pd.concat([final_non_white, final_white])
repaired_data = shuffle(repaired_data)
race_atrributes =  [ 
    'race_Amer-Indian-Eskimo',
    'race_Asian-Pac-Islander',
    'race_Black',
    'race_Other',
    'race_White']
for i in race_atrributes:
#     print(repaired_data[i] )
    repaired_data[i] = 0

In [84]:
# similar procedures can be followed to repair data for other sensitive attributes. 
# Once all such biases are removed, the final dataframe "repaired_data" can be saved as a csv to the project folder.

In [85]:
# sensitive_atrributes =  [ 'age',
#     'race_Amer-Indian-Eskimo',
#     'race_Asian-Pac-Islander',
#     'race_Black',
#     'race_Other',
#     'race_White',
#     'gender_Female',
#     'gender_Male']
# for i in sensitive_atrributes:
#     print(repaired_data[i] )
#     repaired_data[i] = 0

In [86]:
repaired_data = repaired_data.drop('Unnamed: 0', axis = 'columns')

In [87]:
repaired_data.to_csv('Data/train_data_repaired.csv') # saves new training dataframe in the given train file